<mat-card>
  <mat-card-content>
    <agm-map [zoom]="13"
             [latitude]="city.latitude"
             [longitude]="city.longitude">
      <agm-marker *ngIf="city"
                  [latitude]="city.latitude"
                  [longitude]="city.longitude"
                  [label]="person.firstname + ' ' + person.lastname">
      </agm-marker>
    </agm-map>
  </mat-card-content>
  <button class="open-map" mat-icon-button (click)="onOpen($event)" type="button" title="Open map in new view">
    <mat-icon>open_in_new</mat-icon>
  </button>
</mat-card>
